
body{
    background-color: rgb(0, 24, 0);
    color: white;
    font-family: 'Lato', sans-serif;
    
}

p{
    font-family: 'Poppins', sans-serif;
}


/* Banner */
.bannerbox{
    background-image:url(Images/MDTTruckingBanner.png);
    padding: 100px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    
}



h1.bannerfont{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    animation-duration: 2s;
    animation-name: slidein;
   }
@keyframes slidein {
    from {
        font-size: 0px;
    }
    to {
        font-size: 100px;
    }
}


/* end of banner */
/*Nav bar*/
nav {
    
    background-color:rgb(5, 53, 29);
    

}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    
}


nav li a{ 
    float: right;
    padding: 25px;
    transition: all 0.2s ease-in-out;

    text-decoration: none;
    color:rgb(255, 255, 255);
}

nav li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(15, 70, 33);
}

img.logo{
   margin: 0px;
    height: 65px;
    width: 65px;
    position: absolute;
    
    margin-left: 10px;
}

.booknow{
    border:rgb(5, 53, 29);
    color: rgb(5, 53, 29);
    background-color: rgb(41, 151, 50);
    border-width: 0px;
    border-style: solid;
    border-radius:40px  0px  0px  40px;
    transition: all 0.2s ease-in-out;

   
    
}
.booknow:hover{
    background-color: rgb(255, 255, 255);
   
}
/* end of nav bar*/

/* Homepage */










.label{
    background-color: rgb(15, 70, 33);
    color: rgb(255, 255, 255);
    font-size: 3em;
    
    margin: 0px;
    text-align: center;

}
.label2{
    background-color: rgb(15, 70, 33);
    color:rgb(255, 255, 255);
    font-size: 2em;
    margin-top:  3em;
    padding: 0em;
    text-align: center;
}
.label3{
    background-color: rgb(15, 70, 33);
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 0%;
    
    text-align: center;
}



.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(15, 70, 33);
    align-items: center;
   
}
.flexcontainer2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(15, 70, 33);
    align-items: center;
}

.fleximg{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
   
}

.item1{
    align-self: flex-start;
    padding:1em;
    

}
.item2{
    align-self: center;
    padding:10px;
    background-color: rgb(15,70,33, 0.2);
    margin: 1%;
}
.item3{
    align-self: center;
    padding:10px;
    background-color: rgb(15,70,33, 0.2);
    margin: 1%;
}

.fontsize{
    font-size: 2em;
}
.footer{
    background-color: rgb(15, 70, 33);
    color: white;
    margin-top: 2em;
}
    
.footercontainer{
    display: flex;
    
}
.footerphoto{
    align-self: center;
    
}
.footeralign{
    align-self: center;
    margin-left: 2em;
    
}

/* End Homepage */
/* About page */
.label2{
    background-color: rgb(15, 70, 33);
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-top: 30px;
    align-self: center;
    text-align: center;
}


.centered{
    background-color: rgb(15, 70, 33);
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin: 0%;
    margin-top: 0.3%;
    text-align: center;
}

/*Contact us form*/

 .container{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     
     height: 100%;
     padding: 20px 100px;
     
     
 }
 .container:after{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: url("Images/contactus.png") no-repeat center;
     background-size: cover;
     z-index: -1;
     filter: blur(10px);
 }
 
 .contact-box{
     max-width: 850px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: rgb(15, 70, 33);
     box-shadow: 0px 0px 19px 5px black;
     
 }
 .left{
     height: 100%;
     background: url("Images/contactus.png") no-repeat center;
 }

 .right{
     padding: 25px 50px;
     

 }

 .contact{
     position: relative;
     padding-bottom: 10px;
     margin-bottom: 10px;
     font-family: 'Lato', sans-serif;
 }

.contact:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: rgb(41, 151, 50)
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgb(41, 151, 50);
    background-color: whitesmoke;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    font-family: 'Lato', sans-serif;

}

.field:hover{
    background: rgb(41, 151, 50);
}
.field:focus{
    background-color: rgb(0, 24, 0);
    border: 2px solid rgb(41, 151, 50);
    color: rgb(41, 151, 50);
}
.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: rgb(41, 151, 50);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.btn:hover{
    background-color:rgb(0, 24, 0);
    color: rgb(41, 151, 50);
}

@media screen and (max-width: 767px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}

@media only screen and (max-width: 767px){
    .flexcontainer{display:flex;}
    .flexcontainer2{display: flex;}
    
}

    



/*Table */
.styledtable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 2em;
    min-width: 400px;
    box-shadow: 0 0 20px black;
    border: rgb(41, 151, 50);
    border-style: solid;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
     
}


.styledtable th,
.styledtable td{
    padding: 12px 15px;
}

.styledtable tr{
    border-bottom: 2px solid rgb(41, 151, 50)
}

.styledtable tr:nth-of-type(odd){
    background-color: rgb(15, 70, 33);
}

.footerlogo{
    width: 60px;
    height: 40px;
}